@pmedianetwork:registry=https://adverity-508912190628.d.codeartifact.eu-west-1.amazonaws.com/npm/adverity-repo/
//adverity-508912190628.d.codeartifact.eu-west-1.amazonaws.com/npm/adverity-repo/:always-auth=true
//adverity-508912190628.d.codeartifact.eu-west-1.amazonaws.com/npm/adverity-repo/:_authToken=${ADVERITY_CODEARTIFACT_AUTH_TOKEN}
